.bg-cover {
  min-width: 100nw;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.navs {
  width: 60% !important;
  display: flex !important;
  justify-content: space-between !important;
}

.link {
  color: #fff !important;
}
.link:hover {
  color: #00f !important;
}

.login-form {
  background: white !important;
  border-radius: 24px !important;
}

.link-log {
  cursor: pointer !important;
}
